[submodule "module2/src/case_study"]
	path = module2/src/case_study
	url = https://github.com/quocnna/case_study_m2.git
[submodule "module3/case_study_db"]
	path = module3/case_study_db
	url = https://github.com/quocnna/case_study_m3_db.git
[submodule "module3/case_study_web"]
	path = module3/case_study_web
	url = https://github.com/quocnna/case_study_m3_web.git
[submodule "module4/case_study_m4"]
	path = module4/case_study_m4
	url = https://github.com/quocnna/case_study_m4.git
