<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<form action="/" th:method="post" th:object="${song}" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input name="name" type="text" class="form-control" th:field="*{name}">
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label">Artist</label>
        <input name="artist" type="text" class="form-control" th:field="*{artist}">
        <p class="text-danger" th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label">Kind</label>
        <input name="kind" type="text" class="form-control" th:field="*{kind}">
        <p class="text-danger" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}"></p>
    </div>
    <div class="mb-3">
        <label class="form-label">Upload</label>
        <input type="file" class="form-control" th:field="*{file}" accept=".mp3,.wav,.ogg,.m4p">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>
