<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row pt-2">
        <div class="col-6">
           <h2>Music Management</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-primary float-end" href="/form">Add New</a>
        </div>
    </div>
    <div class="row pt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Kind</th>
                <th scope="col">Artist</th>
                <th scope="col">Link</th>
                <th style="width: 15%">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${res}">
                <th scope="row">1</th>
                <td th:text="${c.name}"></td>
                <td th:text="${c.kind}"></td>
                <td th:text="${c.artist}"></td>
                <td>
                    <audio controls><source th:src="@{/file/{code}(code=${c.link})}" type="audio/wav">
                    </audio>
                </td>
                <td>
                    <a class="btn btn-outline-success" th:href="@{/form/__${c.id}__}">Edit</a>
                    <button th:onclick="document.getElementById('deleteForm').action = '/[[${c.id}]]'" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteForm" th:method="delete">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Song</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this song?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
