html{
    font-family: Helvetica;
    font-size: 15px;
}
body{
    margin: 0 auto;
    width: 80%;
    background: darkgrey;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}

header{
    /*height: 50px;*/
    min-height:50px;
    background: yellow;
}

nav{
    height: 30px;
    background: green;
}

main{
    display: flex;
    flex: 1;
    /*height: 800px;*/
    background: black;
}

#main{
    flex: 8;
}
article{
    height: 50%;
    background: blue;
}

section{
    height: 50%;
    background: aqua;
}

aside{
    flex: 2;
    background: cadetblue;
}

footer{
    /*height: 50px;*/
    min-height:50px;
    background: red;
}
