html{
    font-size: 10px;
    background-color: darkgrey;
}

header{
    height: 60px;
    background-color: yellow;
}

main{
    background-color: red;
    display: flex;
}

nav{
    background-color: violet;
    flex: 1.5;
}
article{
    background-color: #2a2a2a;
    flex: 7;
}
aside{
    background-color: violet;
    flex: 1.5;
}