html{
    background: black;
    color: white;
}

header{
    display: flex;
}

header div{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

header div svg{
    margin-right: 20px;
}
header nav{
    flex: 6;
    text-align: center;
}

header nav ul{
    list-style: none;
    margin: 0;
}

header nav ul li{
    display: inline;
    margin-right: 80px;
}

header div:first-child{
    flex: 2;
}

header img{
    border-radius: 10px;
}

header strong{
    color: white;
}

main{
    display: flex;
    height: 600px;
}

aside{
    background: yellow;
    flex: 2;
}

article{
    background: green;
    flex: 6;
}
